In [447]:
import pandas as pd
from matplotlib import pyplot
from epiweeks import Week
from datetime import date, datetime
from os.path import dirname, join, isfile, isdir

from bulletin.commom import static
from bulletin.commom.normalize import normalize_text, normalize_number, normalize_hash, normalize_cpf, normalize_igbe
from bulletin.commom.utils import isvaliddate

from bulletin.commom.utils import Timer, auto_fit_columns

In [448]:
municipios = static.municipios[['ibge','municipio','populacao']].copy()
municipios['ibge'] = municipios['ibge'].apply(str)

regionais = static.regionais[['ibge','nm_macro','nu_reg','nm_reg']].copy()
regionais['ibge'] = regionais['ibge'].apply(str)
regionais = regionais.rename(columns={'nu_reg':'rs'})

In [488]:
casos = pd.read_excel('input/casoseobitos.xlsx','casos',converters={
        'ibge': normalize_igbe
    }
)

In [450]:
obitos = pd.read_excel('input/casoseobitos.xlsx','obitos',converters={
        'ibge': normalize_igbe
    }
)

In [489]:
casos = pd.merge(left=casos, right=regionais, how='left', on='ibge')
casos = pd.merge(left=casos, right=municipios, how='left', on='ibge')
casos['ano'] = casos.apply(lambda row: Week.fromdate(row['dt_diag']).year, axis=1)
casos['mes'] = casos.apply(lambda row: Week.fromdate(row['dt_diag']).startdate().month, axis=1)
casos['se'] = casos.apply(lambda row: Week.fromdate(row['dt_diag']).week, axis=1)
# casos.to_excel('casos_se.xlsx')

In [492]:
casos = casos.groupby(['ano','mes','se','nm_macro','rs','nm_reg','ibge','municipio','populacao'])[['dt_diag']].count().rename(columns={'dt_diag':'casos'})

# casos_se = casos.unstack(level=[0,1,2]).swaplevel(0, 1, axis=1).swaplevel(1, 2, axis=1).swaplevel(2, 3, axis=1).fillna(0).astype(int)
casos_se.columns

KeyError: "Columns not found: 'dt_diag'"

In [526]:
casos_se.columns.names = ['ano','mes','se','qtde']
casos_se[2021,2,7,'coef'] = casos_se[2021,2,7,'casos']
casos_se[2021,2,7]

qtde                                                            casos  coisas  \
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949         28      28
                       410950 Guaraqueçaba           7594          10      10
                       410960 Guaratuba              37527        243     243
                       411570 Matinhos               35219         29      29
                       411620 Morretes               16446         20      20
...                                                               ...     ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           2       2
                       412575 São Pedro do Iguaçu    5820          14      14
                       412740 Terra Roxa             17522         81      81
                       412770 Toledo                 142645       602     602
                       412795 Tupãssi                8109          25      25

qtde                                                            coef
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949        28
                       410950 Guaraqueçaba           7594         10
                       410960 Guaratuba              37527       243
                       411570 Matinhos               35219        29
                       411620 Morretes               16446        20
...                                                              ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627          2
                       412575 São Pedro do Iguaçu    5820         14
                       412740 Terra Roxa             17522        81
                       412770 Toledo                 142645      602
                       412795 Tupãssi                8109         25

[399 rows x 3 columns]

In [453]:
obitos = pd.merge(left=obitos, right=regionais, how='left', on='ibge')
obitos = pd.merge(left=obitos, right=municipios, how='left', on='ibge')
obitos['ano'] = obitos.apply(lambda row: Week.fromdate(row['data_obito']).year, axis=1)
obitos['mes'] = obitos.apply(lambda row: Week.fromdate(row['data_obito']).startdate().month, axis=1)
obitos['se'] = obitos.apply(lambda row: Week.fromdate(row['data_obito']).week, axis=1)
obitos.to_excel('obitos_se.xlsx')

In [454]:
obitos = obitos.groupby(['ano','mes','se','nm_macro','rs','nm_reg','ibge','municipio','populacao'])[['data_obito']].count().rename(columns={'data_obito':'obitos'})
obitos_se = obitos.unstack(level=[0,1,2]).swaplevel(0, 1, axis=1).swaplevel(1, 2, axis=1).swaplevel(2, 3, axis=1).fillna(0).astype(int)

obitos_se

ano                                                              2020         \
mes                                                                3
se                                                                 13     14
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          0      0
                       411570 Matinhos               35219          0      0
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         0      0
                       412795 Tupãssi                8109           0      0

ano                                                                           \
mes                                                                4
se                                                                 15     16
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          0      0
                       411570 Matinhos               35219          0      0
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         0      0
                       412795 Tupãssi                8109           0      0

ano                                                                           \
mes
se                                                                 17     18
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          0      0
                       411570 Matinhos               35219          0      0
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         0      0
                       412795 Tupãssi                8109           0      0

ano                                                                           \
mes                                                                5
se                                                                 19     20
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      1
                       410960 Guaratuba              37527          0      0
                       411570 Matinhos               35219          0      0
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         0      0
                       412795 Tupãssi                8109           0      0

ano                                                                           \
mes
se                                                                 21     22
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          0      1
                       411570 Matinhos               35219          0      0
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         0      0
                       412795 Tupãssi                8109           0      0

ano                                                             ...         \
mes                                                             ...     12
se                                                              ...     52
                                                                ... obitos
nm_macro rs nm_reg     ibge   municipio              populacao  ...
LESTE    1   PARANAGUA 410120 Antonina               18949      ...      2
                       410950 Guaraqueçaba           7594       ...      0
                       410960 Guaratuba              37527      ...      2
                       411570 Matinhos               35219      ...      1
                       411620 Morretes               16446      ...      1
...                                                             ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627       ...      0
                       412575 São Pedro do Iguaçu    5820       ...      0
                       412740 Terra Roxa             17522      ...      0
                       412770 Toledo                 142645     ...      3
                       412795 Tupãssi                8109       ...      0

ano                                                                     2021  \
mes                                                                       1
se                                                                 53     1
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          2      2
                       411570 Matinhos               35219          1      0
                       411620 Morretes               16446          2      2
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      1
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         8      9
                       412795 Tupãssi                8109           2      0

ano                                                                           \
mes
se                                                                 2      3
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          4      2
                       411570 Matinhos               35219          0      2
                       411620 Morretes               16446          1      1
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      1
                       412575 São Pedro do Iguaçu    5820           0      1
                       412740 Terra Roxa             17522          0      0
                       412770 Toledo                 142645         3      8
                       412795 Tupãssi                8109           1      0

ano                                                                           \
mes
se                                                                 4      5
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0      2
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          1      3
                       411570 Matinhos               35219          0      2
                       411620 Morretes               16446          1      1
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      1
                       412770 Toledo                 142645         5      2
                       412795 Tupãssi                8109           0      1

ano                                                                           \
mes                                                                2
se                                                                 6      7
                                                               obitos obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          1      0
                       410950 Guaraqueçaba           7594           0      0
                       410960 Guaratuba              37527          4      5
                       411570 Matinhos               35219          3      2
                       411620 Morretes               16446          0      0
...                                                               ...    ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0      0
                       412575 São Pedro do Iguaçu    5820           0      0
                       412740 Terra Roxa             17522          0      1
                       412770 Toledo                 142645         4      5
                       412795 Tupãssi                8109           0      1

ano
mes
se                                                                 8
                                                               obitos
nm_macro rs nm_reg     ibge   municipio              populacao
LESTE    1   PARANAGUA 410120 Antonina               18949          0
                       410950 Guaraqueçaba           7594           0
                       410960 Guaratuba              37527          2
                       411570 Matinhos               35219          0
                       411620 Morretes               16446          0
...                                                               ...
OESTE    20 TOLEDO     412545 São José das Palmeiras 3627           0
                       412575 São Pedro do Iguaçu    5820           0
                       412740 Terra Roxa             17522          0
                       412770 Toledo                 142645         3
                       412795 Tupãssi                8109           0

[379 rows x 49 columns]

In [455]:
writer = pd.ExcelWriter(join('output','dados_fontes.xlsx'),
                        engine='xlsxwriter',
                        datetime_format='dd/mm/yyyy',
                        date_format='dd/mm/yyyy')

casos_se.to_excel(writer,f"casos_se")
worksheet = writer.sheets[f"casos_se"]
auto_fit_columns(worksheet,casos_se)

obitos_se.to_excel(writer,f"obitos_se")
worksheet = writer.sheets[f"obitos_se"]
auto_fit_columns(worksheet,obitos_se)

writer.save()
writer.close()