In [1]:
from sys import exit
import numpy as np
import pandas as pd
from os.path import dirname, join, isfile, isdir
from datetime import datetime, timedelta

from bulletin.data.notifica import Notifica
from bulletin.data.casos_confirmados import CasosConfirmados
from bulletin.commom import static, normalize

pd.set_option('display.max_columns', None)

In [2]:
notifica = Notifica()
# notifica.update()
notifica.shape()

 reading input\notifica.csv

(1412438, 593068, 6189, 561522, 1502)

In [3]:
casos_confirmados = CasosConfirmados()
# casos_confirmados.update()
casos_confirmados.shape()

(313891, 6621)

In [4]:
casosn = notifica.get_casos()
casosc = casos_confirmados.get_casos()

Casos confirmados excluidos: 11

In [5]:
casosc_duplicados = casosc.loc[casosc.duplicated('hash')].index.tolist()
print(f"casosc_duplicados: {len(casosc_duplicados)}")
casosc_duplicados_less = casosc.loc[casosc['hash_less'].isin(casosc['hash'])].index.tolist()
print(f"casosc_duplicados_less: {len(casosc_duplicados_less)}")
casosc_duplicados_more = casosc.loc[casosc['hash_more'].isin(casosc['hash'])].index.tolist()
print(f"casosc_duplicados_more: {len(casosc_duplicados_more)}")
dropar = set(casosc_duplicados + casosc_duplicados_less + casosc_duplicados_more)
print(f"Total duplicados {len(dropar)}")
casosc = casosc.drop(index=dropar)
len(casosc)

casosc_duplicados: 440
casosc_duplicados_less: 1939
casosc_duplicados_more: 1942
Total duplicados 4313

309567

In [6]:
casosn.groupby('cod_classificacao_final')[['id']].count()

                             id
cod_classificacao_final
0                           641
1                        690697
2                        276857
3                        438130
5                          6113

In [9]:
casosn.loc[casosn['mun_resid'].isnull()].shape

(467, 56)

In [10]:
casosn.loc[casosn['mun_atend'].isnull()].shape

(40766, 56)