In [1]:
import pandas as pd
from bulletin.commom import static
from bulletin.commom.normalize import *

In [2]:
cc = pd.read_excel('a.xlsx','cc')
tb = pd.read_excel('a.xlsx','tb')

In [3]:
tb['nome_hash'] = tb['Nome'].apply(normalize_hash)
tb = tb.sort_values('nome_hash')
tb

                                     Nome                        nome_hash
4197      ABDUL KARIM MOHAMAD ALI DELBANI      ABDULKARIMMOHAMADALIDELBANI
1143               ABEGAIR PADILHA NOVACK             ABEGAIRPADILHANOVACK
6217                   ABELARDO BONIFACIO                ABELARDOBONIFACIO
1532            ABELARDO TASSO DE MIRANDA           ABELARDOTASSODEMIRANDA
273                      ABEL DE OLIVEIRA                   ABELDEOLIVEIRA
...                                   ...                              ...
3947          ZULEICK LACERDA KLINGELFUSS        ZULEICKLACERDAKLINGELFUSS
1026  ZULMA GUALBERTO DA FONSECA OLIVEIRA  ZULMAGUALBERTODAFONSECAOLIVEIRA
7464                     ZULMIRA FONTOLAN                  ZULMIRAFONTOLAN
272                     ZULMIRA FRANCISCA                 ZULMIRAFRANCISCA
3948             ZULMIRA VILHEGAS SALMAZO           ZULMIRAVILHEGASSALMAZO

[8629 rows x 2 columns]

In [4]:
cc['nome_hash'] = cc['Nome'].apply(normalize_hash)
cc = cc.sort_values('nome_hash')
cc

                                     Nome                        nome_hash
1481      ABDUL KARIM MOHAMAD ALI DELBANI      ABDULKARIMMOHAMADALIDELBANI
725                ABEGAIR PADILHA NOVACK             ABEGAIRPADILHANOVACK
4937                   ABELARDO BONIFACIO                ABELARDOBONIFACIO
4401            ABELARDO TASSO DE MIRANDA           ABELARDOTASSODEMIRANDA
1837                     ABEL DE OLIVEIRA                   ABELDEOLIVEIRA
...                                   ...                              ...
5231          ZULEICK LACERDA KLINGELFUSS        ZULEICKLACERDAKLINGELFUSS
3313  ZULMA GUALBERTO DA FONSECA OLIVEIRA  ZULMAGUALBERTODAFONSECAOLIVEIRA
6993                     ZULMIRA FONTOLAN                  ZULMIRAFONTOLAN
7366                    ZULMIRA FRANCISCA                 ZULMIRAFRANCISCA
883              ZULMIRA VILHEGAS SALMAZO           ZULMIRAVILHEGASSALMAZO

[8630 rows x 2 columns]

In [11]:
cc.values

array([['ABDUL KARIM MOHAMAD ALI DELBANI', 'ABDULKARIMMOHAMADALIDELBANI'],
       ['ABEGAIR PADILHA NOVACK', 'ABEGAIRPADILHANOVACK'],
       ['ABELARDO BONIFACIO', 'ABELARDOBONIFACIO'],
       ...,
       ['ZULMIRA FONTOLAN', 'ZULMIRAFONTOLAN'],
       ['ZULMIRA FRANCISCA', 'ZULMIRAFRANCISCA'],
       ['ZULMIRA VILHEGAS SALMAZO', 'ZULMIRAVILHEGASSALMAZO']],
      dtype=object)